* {
  margin: 0;
  padding: 0;
}

h2 {
  color: #ffff00;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
}

.content {
  background-image:
    linear-gradient(rgba(0, 0, 0, 60%),
      rgba(0, 0, 0, 60%)),
    url("./img/garrett-parker-DlkF4-dbCOU.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 150vh;
}

#country {
  color: white;
}

#state {
  color: white;
}

#city {
  color: white;
}

.page {
  color: #ffff00;
  text-align: center;

}

.weather {
  color: #ffff00;
  text-align: center;
  mix-blend-mode: difference;
}

.cityphotos {
  color: #ffff00;
  text-align: center;
  mix-blend-mode: difference;
}

.visit {
  color: #ffff00;
  text-align: center;
  mix-blend-mode: difference;
}

.cityimg {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border: 1px solid #1b6b6f;
  border-radius: 4px;
}

.cityimg:hover {
  box-shadow: 0 0 2px 4px rgba(0, 140, 186, 50%);
  transform: scaleX(-1);
}